{% extends "hub/base.html" %} {% block content %}
<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4">Why Join?</h1>
    <p class="lead">
      Lorem ipsum dolor sit, amet consectetur adipisicing elit. Beatae numquam
      iure, quam blanditiis vero repellat quos, debitis optio voluptate dolor,
      exercitationem tempora? Ea accusantium similique tempora harum, rem modi
      consequuntur eum velit eligendi laboriosam distinctio qui animi
      consequatur quo perferendis voluptatem nemo quos atque vitae quaerat
      provident dolor? Accusamus illo, quod libero dolore iusto ipsa neque
      voluptatum quibusdam corrupti, ex praesentium reprehenderit minus
      incidunt. Harum dolore quae ut sapiente ducimus, vitae sit iusto tenetur
      facilis eum sed ex. Mollitia amet ipsum cum animi omnis odit ad? Obcaecati
      natus sequi ut maxime ullam impedit quo nesciunt. Minus dolorum iure earum
      exercitationem.
    </p>
  </div>
</div>
{%endblock%}
