{% extends "hub/base.html" %} {% block content %}
<!-- Image with holder -->
<div class="container text-center"><h1>Image Placeholder</h1></div>
<!-- About message -->
<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-6 text-center">
      Team of veterans wanting people to understand what they are signing up
      for.
    </h1>
    <p class="lead text-center">
      Lorem ipsum dolor sit, amet consectetur adipisicing elit. Beatae numquam
      iure, quam blanditiis vero repellat quos, debitis optio voluptate dolor,
      exercitationem tempora?Lorem ipsum dolor sit amet consectetur adipisicing
      elit. Tenetur minima dolorum commodi earum quia voluptas! Fugit quibusdam
      eos dicta ut tempore officiis laborum architecto corrupti.
    </p>
  </div>
</div>
<!-- More Photos -->
<div class="container">
  <h1>Image Placeholder</h1>
</div>

<div class="container">
  <h1>History</h1>
  <p>
    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Culpa,
    exercitationem voluptas distinctio ut optio alias similique ea ab
    consectetur dolor totam aspernatur nobis harum deserunt pariatur sunt. Sit
    sequi laudantium neque quis quo! Voluptas, nisi!
  </p>
</div>
{%endblock%}
