{% extends "hub/base.html" %} {% block content %}
<!-- Homepage message -->
<div class="container">
  <div class="jumbotron jumbotron-fluid">
    <div class="container">
      <h1 class="display-4 text-center">Why Join</h1>
      <p class="lead text-center">
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ipsa assumenda
        nemo accusamus saepe debitis provident eligendi aut fugit labore.
        Tempore dolorem iste at quibusdam! Corporis.
      </p>
    </div>
  </div>
</div>

<!-- Content -->
<div class="container">
  <div class="row">
    <div class="col-lg">
      <!-- Main content -->
      <h5>Blog</h5>
    </div>
    <div class="col">
      <!-- side bar content -->
      <h5>Related Content</h5>
    </div>
  </div>
</div>

{%endblock%}
