{% extends "hub/base.html" %} 
{% block content %}
<!-- Homepage message -->
<div class="container">
  <div class="jumbotron jumbotron-fluid">
    <div class="container jumbo">
      <h1 class="display-4 text-center">Why Should You Join</h1>
    </div>
      <div class="container">
    <p class="lead text-center">
        Communicate with real active duty service members and veteran to get a real understanding of military life. It's a life changing decision that should be made with real care.
      </p>
      </div>
      <div class="container text-center">
        
        <a href="{% url 'post_list' %}" class="btn btn-primary btn-sm active" role="button" aria-pressed="true">Read Posts</a>

      </div>
     
    </div>
  </div>
</div>

<!-- Content -->
 
    <div class="container">
      <!-- Main content -->
      <div class="container">
      <h3 class="text-center text-muted new-user-stories-header">New User Stories</h3>
      </div>

      {%for blog in blog_post%}
      <div class="container">
        <div class="row">
          <div class="col-sm-6">
            <div class="card">
              <div class="card-body">
                <h5 class="card-title">{{blog.title}}</h5>
                <p class="card-text">{{blog.author}}</p>
                <p class="card-text">{{blog.created_date}}</p>

                <p class="card-text">{{blog.text}}</p>
                <a href="#" class="btn btn-primary">Read</a>
              </div>
            </div>
          </div>
        </div>
    
      </div>
      
      {%endfor%}
    </div>
    <div class="container">
      <!-- side bar content -->
      <h5>Community Posts</h5>
    </div>
  </div>
</div>

{%endblock%}
