{% extends "hub/base.html" %} {% block content %}

<div class="container">
<h2>Blog Post</h2>

{% for post in object_list %}
<div class="card" style="width: 18rem;">
    <div class="card-body">
      <h5 class="card-title">{{ post.title }}</h5>
      <h6 class="card-subtitle mb-2 text-muted">{{ post.author }}</h6>
      <h6 class="card-subtitle mb-2 text-muted">{{ post.created_date }}</h6>
      <p class="card-text">{{ post.text|truncatewords:5 }}</p>
      <a href="{% url 'post_detail' post.pk %}" class="card-link">Read Post</a>
    </div>
  </div>
{% endfor %}
</div>

{%endblock%}
