{% extends "hub/base.html" %} {% block content %}

<div class="container d-flex justify-content-center">
  <div class="jumbotron jumbotron-fluid ">
    <div class="container">
      <h1 class="display-4">Da Blog</h1>
      <p class="lead">This is a modified jumbotron that occupies the entire horizontal space of its parent.</p>
    </div>
  </div>
  </div>


{% for post in object_list %}
<div class="container">
<div class="card" style="width: 18rem;">
    <div class="card-body">
      <h5 class="card-title">{{ post.title }}</h5>
      <h6 class="card-subtitle mb-2 text-muted">{{ post.author }}</h6>
      <h6 class="card-subtitle mb-2 text-muted">{{ post.created_date }}</h6>
      <p class="card-text">{{ post.text|truncatewords:5 }}</p>
      <a href="{% url 'post_detail' post.pk %}" class="card-link">Read Post</a>
    </div>
  </div>
</div>

{% endfor %}
</div>

{%endblock%}
