/* List in the application dont go to the next line automatically. ex. the navbar */

.padding{
padding-top: 10px;
}

.jumbo {
    padding: 64px 40px 35px 40px;
}

/* Colors  */
.alice-blue{
    background-color: #E8F0FF;
}

.cerulean{
    background-color: #9BB9D4;
}

.log-in-form{
    margin: 0 auto;
}

.log-in-form-title{
    text-align: center;
}

.new-user-stories-header{
    margin-top: 50px;
    margin-bottom: 50px;
}